{% extends "base.html" %}
{% block title %}
About
{% endblock %}
{% load static %}

{%block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/infopage.css' %}" />
<center>
    <div class="container">
        <h1>About</h1>
        <p id="nav-1" class="nav-p">
            This project was conceived by Dr. Rich Fletcher in 2020 as platform to help support mental health and
            wellness among the MIT Community. The initial concept was to create a platform to share stories that could
            be uplifting and heartwarming, to give us different perspectives, grow our sense of gratitude, or simply
            make us smile. The domain name, ThoughtLine, is a reference to a former student-support phone line service,
            called NightLine, that was operated by MIT in the pre-Google days, that students could call when they wanted
            to talk to a human or ask a question.

            While there is a huge amount of media channels available today, our modern technology often presents us with
            a sensory overload that provides us little opportunity, and little space, to think, relax, and reflect.
            Audio files provide a unique opportunity to close our eyes, and open our minds. Audio can provide a range of
            experiences, ranging from the basic sounds of nature (e.g. ocean waves, rain) to the sound of a human voice
            and mental imagery to help clear and heal our mind.

            This web site is one of several mental health-related projects being conducted by Dr. Fletcher and the
            Mobile Technology Lab (<a
                href="http://www.mobiletechnologylab.org/portfolio/">http://www.mobiletechnologylab.org/portfolio/</a>)
            <br />
            Developers to Date: Michael Cantow, Sami Amer, and Sonia Uwase.
        </p>
    </div>
    <div class="container">

        <h1>Background</h1>
        <p id="nav-2" class="nav-p">
            Audio files have been used for thousands of years to provide relaxation, distraction, or simply
            entertainment. This web site is specifically designed to provide a variety of audio types that have been
            traditionally used to support mental health wellness. In addition, this web site supports human stories and
            supports user-generated content.

            The following audio file categories are available:

            NATURE SOUNDS -- These are ambient sounds generally collected from outdoor locations, and includes such
            sounds as ocean waves and rain.

            MEDITATION SOUNDS -- These sounds are man-made sounds from ancient instruments or modern synthesizers that
            are commonly used to help promote the practice of mediation or relaxation.

            GUIDED MEDITATION -- These audio recordings are spoken word meditations that provide instructions and
            imagery to help guide the listener to relax, de-stress, or fall asleep.

            BREATHING EXERCISES -- As a tool for relaxing the autonomic nervous system (attenuating sympathetic
            activation and stimulating parasympathetic activation), a few pace breathing exercises are provided.

            STORIES -- In order to provide different perspectives and support a sense of community, user-generated
            stories are also provided. Contributed stories should be positive, hopeful, or provide some humor.
        </p>
    </div>
</center>


{% endblock content %}