{% extends "base.html" %}

{% block title %} Thoughtline.org {% endblock title %}

{% load static %}

{% block content %}
    <div class="grid">
        <a href="/listen/binural-beats" class="cell cell1">
            <div class="cellHead">Binural Beats</div>
            <p class="cellText"> Brain stimulting frequencies linked to relaxation, positivity, decreased anxiety, 
                increased concentration, alertness, problem solving, and improved memory.</p>
        </a>
        <a href="/listen/breathing-excercises" class="cell cell2">
            <div class="cellHead">Breathing Exercises</div>
            <p class="cellText">Breathing exercises relax the autonomic nervous system (attenuating
                sympathetic activation and stimulating parasympathetic activation)</p>
        </a>
        <a href="/listen/guided-mediations" class="cell cell3">
            <div class="cellHead">Guided Meditations</div>
            <p class="cellText">Spoken word meditations that provide
                instructions and imagery to help guide the listener to relax, de-stress, or fall asleep.</p>
        </a>
        <a href="/listen/indian-ragas"class="cell cell4">
            <div class="cellHead">Indian Ragas</div>
            <p class="cellText">Unique and central feature of the classical Indian music tradition with no direct translation to concepts in western music</p>
        </a>
        <a href="/listen/mediation-music" class="cell cell5">
            <div class="cellHead">Mediation Music</div>
            <p class="cellText">Man-made sounds from ancient instruments or modern
                synthesizers commonly used to promote mediation or relaxation.</p>
        </a>
        <a href="/listen/nature-sounds" class="cell cell6">
            <div class="cellHead">Nature Sounds</div>
            <p class="cellText">Ambient sounds generally collected from outdoor locations.
                Includes sounds such as ocean waves and rain.</p>
        </a>
        <a href="/listen/short-guided-mediations" class="cell cell7">
            <div class="cellHead">Short Guided Mediation</div>
            <p class="cellText">Guided Meditations shorter in duration than
                the Guided Mediations category.
            </p>
        </a>
        <a href="/listen/stories" class="cell cell8">
            <div class="cellHead">Stories</div>
            <div class="cellText">User-generated stories providing different perspectives and supporting a sense of
                community. Stories should be positive,
                hopeful, or humorous.</div>
            </a>
        <a href="/listen/vocal-chanting" class="cell cell9">
            <div class="cellHead">Vocal Chanting</div>
            <p class="cellText">Repeditive, repeated mantras thought to direct and increase attention.</p>
        </a>
    </div>
{% endblock content %}