{% extends "base.html" %}

{% block title %} Manage Submissions {% endblock title %}

{% load static %}

{% block content %}
<script>
    var prevTrackHashKey = '{{prevTrackHashKey}}';
</script>
<script src="{% static 'js/audioPlayer.js' %}"></script>

<h2 class="tableCaption">{{category_title}}</h2>

<audio id="activeAudio" ontimeupdate="timeUpdateHandler()">
  <source id="activeAudioSource" src="" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<div class="playerContainer">

    <div class="currTrackInfo">
        <div id="currTrackTimer" class="timer">00:00</div>
        <div id="currTrackTitle" class="title"></div>
        <div id="currTrackDuration" class="duration">00:00</div>
    </div>

    <div id="progressBar">
        <div id="currentProgress"></div>
    </div>

    <div class="controlButtonContainer">
        <div class="control" onclick="previousFile()">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-skip-backward-fill" viewBox="0 0 16 16">
                    <path d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5z"/>
                </svg>
            </div>
        </div>
        <div class="control" onclick="toggleActiveAudio()">
            <div>
                <svg id="playControl" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                </svg>
                <svg id="pauseControl" style="display:none;" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-pause-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
                </svg>
                </div>
        </div>
        <div class="control" onclick="nextFile()">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-skip-forward-fill" viewBox="0 0 16 16">
                    <path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </div>
        </div>
    </div>

    <div id="playlistContainer" class="playlistContainer">
        {% for obj, verboseName in audio_objects %}
            <div class="playlistItemContainer" id="playlistItemContainer-{{ forloop.counter0 }}" data-index="{{ forloop.counter0 }}">
                <div class="play" id="pbp-{{ forloop.counter0 }}"><i class="fas fa-play" height="40" width="40" id="playlistItemIcon-{{ forloop.counter0 }}" aria-hidden="true"></i></div>
                <div id="file-title-{{ forloop.counter0 }}" class="info">{{obj.title}}</div>
                <div class="actions">
                    <a href="/admin/approveSubmission/{{obj.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg add" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </a>
                    <a href="/admin/denySubmission/{{obj.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x delete" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                    </a>
                </div>
                <div class="duration">{{obj.duration}}</div>
                <div class="verboseCategoryName">{{verboseName}}</div>
                <div id="file-url-{{ forloop.counter0 }}" style="display: none;">{{ obj.file.url }}</div>
            </div>
        {% endfor %}
    </div>
</div>



<script>
  function deletePlaylist(event){
    let doIt = window.confirm('Are you sure you want to delete this playlist? This cannot be undone.');
    if (doIt){
      window.location.href='/deletePlaylist/{{playlistId}}';
    }
  }

  function deleteFile(url){
    let doIt = window.confirm('Are you sure you want to delete this file? This cannot be undone. It will remove the file from the library and all user playlists.');
    if (doIt){
        localStorage[prevTrackHashKey + '_time'] = 0; // reset cached time if deleting a track
        window.location.href=url;
    }
  }

  function removeFromPlaylist(url){
    let doIt = window.confirm('Are you sure you want to remove this file from your playlist?');
    if (doIt){
        localStorage[prevTrackHashKey + '_time'] = 0; // reset cached time if deleting a track
        window.location.href=url;
    }
  }
</script>

<style>
    body, html{
        overflow: hidden;
    }

    .playerContainer{
        width:95% !important;
        max-width:95% !important;
    }

    svg.add{
        margin-right: 25px;
    }

    svg.edit{
        margin-right: 25px;
        margin-top: 5px;
    }
</style>
{% endblock content %}