{% extends "base.html" %}
{% block title %}
Sponsors
{% endblock %}
{% load static %}

{%block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/infopage.css' %}" />
<center>
    <div class="container">
        <h1>Sponsors</h1>
        <p>
            The cost of developing and maintaining this web site has been made possible through the support of the MIT
            UROP office
            (<a href="https://urop.mit.edu/">https://urop.mit.edu/</a>) and the MIT Mind Hand Heart organization
            (<a href="https://mindhandheart.mit.edu/home-page">https://mindhandheart.mit.edu/home-page</a>),
            for which we are very grateful.
            <br />
            If you find this web site useful and/or you wish to make a small donation to keep it alive, feel free to
            contact Dr. Rich Fletcher (fletcher@media.mit.edu).
        </p>

    </div>
</center>

{% endblock content %}