{% extends "base.html" %} {% block title %} Upload a File {% endblock title %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}" />
<center>
  <div class="container">
    <h1>Upload a File</h1>
    <form action="{% url 'upload' %}" method="post" class="form-group" enctype="multipart/form-data">
      {% csrf_token %}
      <label>Title</label>
      <input type="text" name="title" />
      <label>Category</label>
      <select name="category" id="category" , class="form-control">
        {% for cat in all_audio_objects %}
        <option value="{{cat.id}}">{{cat.category}}</option>
        {% endfor %}
      </select>

      <label>File</label>
      <input type="file" name="file" />
      <button type="submit" class="btn btn-success">Upload</button>
    </form>
  </div>

</center>
{% endblock content%}