/* ------------ */
/* PAGE GENERAL */
/* ------------ */ 
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  background: url(../img/background-tree.jpeg) center 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1F2D47 !important;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: #c5c2c2;
  border-radius: 5px;
}

h1 {
  font-size: 30px;
}

a:hover {
  cursor: pointer;
}
/* ----------------------------------------------------- */




/* ------ */
/* TOPNAV */
/* ------ */
.topnav {
  top: 0;
  position: fixed;
  z-index: 99999;
  font-weight: 500;
  width: 100vw;
  padding: 0 ;
  margin: 0;
  height: fit-content;
  white-space: nowrap;
  display: flex;
  height:50px;
  background: url(../img/background-tree.jpeg) 70px 0px;
  background-size: cover;
  border-bottom: 1px solid black;
  box-shadow: 0 0 5px 0 black;
}

.topnav .logoAndTitleContainer{
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: auto 5px auto 5px;
  text-decoration: none !important;
}
.topnav .logoAndTitleContainer h1{
  display: flex;
  float: left;
  color: white;
  height:40px;
  font-size: 35px !important;
  line-height: 35px;
  margin-left: 10px;
  text-decoration: none !important;
}

.topnav .logoAndTitleContainer img{
  display: flex;
  float: left;
  height:40px;
}

.topnav .logoAndTitleContainer:hover img{
  filter:drop-shadow(1px 1px 1px lightgrey)
}

.topnav .logoAndTitleContainer:hover h1{
  text-shadow: 1px 1px 1px lightgrey;
}

.topnav nav{
  display: flex;
  width:100%;
  justify-content: space-evenly;
  height: 50px;
}

.topnav .authentication{
  display: flex;
  font-size: 24px;
  color: #c5c2c2;
  padding: 5px;
  border-radius: 10px;
  background-color: #2F528F;
  box-shadow: 0 0 3px 0px black;
  width:fit-content;
  height: 30px;
  margin: auto 15px auto auto;
  text-decoration: none;
}

.topnav .authentication svg{
  display: flex;
  margin: auto 5px auto 5px;
}

.topnav .authentication .text{
  display: flex;
  line-height: 22px;
  margin: -3px 5px auto auto;
}

.topnav .authentication:hover,
.topnav .authentication.active{
  color: white;
  box-shadow: 0 0 3px 1px white;
  text-decoration: none;
}

.topnav nav .link{
  font-size: 30px;
  line-height: 47px;
  color: #c5c2c2 !important;
  text-decoration: none;
}

.topnav nav .link:hover,
.topnav nav .link.active{
  color: white !important;
}

.topnav .dropdown {
  position: relative;
}

.topnav .dropdownContent {
    visibility: hidden;
    display: none;
    text-align: left;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    background-color: #2F528F;
    width: fit-content;
    min-width: 300px;
    z-index: 1;
    transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    padding: 10px 0px;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px black;
}

.topnav .dropdownContent .dropdownSelection {
  color: #c5c2c2;
  padding: 10px 10px 5px 10px;
  text-decoration: none;
  display: block;
  font-family: 'Cairo', sans-serif;
  font-size: 22px;
  border-bottom: 1px solid transparent;
}

.topnav .dropdownContent .dropdownSelection:hover{
  color: white;
  border-bottom: 1px solid white;
}

.topnav .dropdown:hover .dropdownContent{
    visibility: visible;
    opacity: 1;
    display: block;
    transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    -o-transition: 0.15s linear;
}

.topnav .dropdown svg{
  transition: 0.25s linear;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -ms-transition: 0.25s linear;
  -o-transition: 0.25s linear;
}

.topnav .dropdown:hover svg{
    color: white;
    transform: rotate(180deg);
    transition: 0.25s linear;
    -webkit-transition: 0.25s linear;
    -moz-transition: 0.25s linear;
    -ms-transition: 0.25s linear;
    -o-transition: 0.25s linear;
}
/* ----------------------------------------------------- */




/* ---- */
/* FORM */
/* ---- */
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px black;
  background-color:rgba(203, 205, 206, 0.9);
  width: fit-content !important;
  height: fit-content;
  padding: 30px 100px 30px 100px !important;
  margin-top: 30px;
}

.form-control {
  padding: 10px 5px;
  border-radius: 10px;
  font-size: 20px !important;
}

.formContainer h2 {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
  display: block;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form select{
  appearance: listbox !important;
  padding: 0px 5px !important;
}

.form-field {
  margin-bottom: 10px;
}

form input {
  padding: 10px 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

form label {
  display: flex-start;
  font-size: 20px;
  font-weight: 500;
}

form input[type="file"],
form input[type="text"],
form input[type="password"],
form input[type="email"] {
  outline: none;
  width:350px !important;
}

form div{
  width:350px;
}

form input[type="file"]:focus,
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus {
  border: 1px solid rgb(0, 170, 255);
  box-shadow: 0 0 5px rgb(0, 170, 255);
}

::placeholder {
  color: rgba(0, 0, 0, 0.488);
  opacity: 1;
}

.formContainer .extraInfo{
  width: 450px;
  color: black;
  margin-top: -10px; /* always under a title */
  margin-bottom: 20px; 
  text-align: center;
  font-size: 18px;
}

.formContainer .extraInfo.success{
  color: rgb(12, 184, 12)
}

.formContainer .extraInfo.fail{
  color: red;
}
/* ----------------------------------------------------- */




/* ------- */
/* BUTTONS */
/* ------- */
.btn {
  margin-top: 10px;
  padding: 8px;
  display: block;
  font-size: 22px !important;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-success {
  background-color: rgb(0, 170, 255);
  color: white;
}
/* ----------------------------------------------------- */




/*--------------*/
/* LISTEN PAGES */
/* ------------ */
.grid {
  margin-top: 80px;
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-evenly;
}

.cell {
  flex: 0 0 30%;
  height: 240px;
  margin-bottom: 20px;
  background-color: rgba(203, 205, 206, 0.9);
  border-radius: 20px;
  text-decoration: none !important;
  text-align: center;
}

.cell:hover{
  cursor: pointer;
  background-color: white;
}

.cellHead{
  width: 100%;
  height:50px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  color:white;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  font-size: 26px;
}

.cellText{
  margin: 10px 10px 0px 10px;
  font-size: 20px;
  color:black
}

.cell.cell1{
  box-shadow: 0 0 0 3px #008AA4;
}

.cell.cell1:hover{
  box-shadow: 0 0 10px 3px #008AA4;
}

.cell.cell1 .cellHead{
  background-color: #008AA4;
}

.cell.cell2{
  box-shadow: 0 0 0 3px #48557d;
}

.cell.cell2:hover{
  box-shadow: 0 0 10px 3px #48557d;
}

.cell.cell2 .cellHead{
  background-color: #48557d;
}

.cell.cell3{
  box-shadow: 0 0 0 3px #5E2750;
}

.cell.cell3:hover{
  box-shadow: 0 0 10px 3px #5E2750;
}

.cell.cell3 .cellHead{
  background-color: #5E2750;
}

.cell.cell4{
  box-shadow: 0 0 0 3px #008AA4;
}

.cell.cell4:hover{
  box-shadow: 0 0 10px 3px #008AA4;
}

.cell.cell4 .cellHead{
  background-color: #008AA4;
}

.cell.cell5{
  box-shadow: 0 0 0 3px #48557d;
}

.cell.cell5:hover{
  box-shadow: 0 0 10px 3px #48557d;
}

.cell.cell5 .cellHead{
  background-color: #48557d;
}

.cell.cell6{
  box-shadow: 0 0 0 3px #5E2750;
}

.cell.cell6 .cellHead{
  background-color: #5E2750;
}

.cell.cell6:hover{
  box-shadow: 0 0 10px 3px #5E2750;
}

.cell.cell7{
  box-shadow: 0 0 0 3px #008AA4;
}

.cell.cell7:hover{
  box-shadow: 0 0 10px 3px #008AA4;
}

.cell.cell7 .cellHead{
  background-color: #008AA4;
}

.cell.cell8{
  box-shadow: 0 0 0 3px #48557d;
}

.cell.cell8:hover{
  box-shadow: 0 0 10px 3px #48557d;
}

.cell.cell8 .cellHead{
  background-color: #48557d;
}

.cell.cell9{
  box-shadow: 0 0 0 3px #5E2750;
}

.cell.cell9:hover{
  box-shadow: 0 0 10px 3px #5E2750;
}

.cell.cell9 .cellHead{
  background-color: #5E2750;
}

/* ----------------------------------------------------- */




/* -------- */
/* PLAYLIST */
/* -------- */
.tableCaption{
  display: flex;
  margin: 50px auto 0 auto;
  width: fit-content;
  color: #7F4B35;
  text-shadow: 1px 1px 1px black;
  font-size: 35px;
}

.playerContainer{
  width: fit-content;
  width:99%;
  max-width: 800px;
  background-color: rgba(203, 205, 206, 0.7);
  border-radius: 20px;
  box-shadow: 0 0 10px 1px black;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  overflow-y: hidden;
  height: 80vh;
  margin: 10px auto auto auto;
  padding: 15px;
  font-size: 20px;
}

.playerContainer svg{
  width: 20px !important;
}

.controlButtonContainer, 
.currTrackInfo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.currTrackInfo{
  margin: 10px auto 0px auto;
  width: calc(90% - 5px);
  justify-content: space-between;
}

.currTrackInfo .title{
  width: 100%;
  text-align: center;
  font-size: 26px;
  margin-top: -9px;
}

.controlButtonContainer .control{
  cursor: pointer;
  width: 40px;
  margin: 5px 25px 10px 25px;
}

.controlButtonContainer .control svg{
  width: 40px !important;
  height: 40px !important;
  vertical-align: top;
}

#progressBar {
  width: 90%;
  background-color: white; 
  cursor: pointer;
  border-radius: 10px;
  margin: 15px auto 15px auto;
}

#currentProgress {
  width: 0%;
  height: 10px;
  background-color: #7F4B35;
  border-radius: 10px;
}

.playlistContainer{
  height: calc(80vh - 160px);
  overflow-y: scroll;
}

.playlistContainer::-webkit-scrollbar {
  width: 10px;
}

.playlistContainer::-webkit-scrollbar-track {
  background: transparent;
}

.playlistContainer::-webkit-scrollbar-thumb,
.playlistContainer::-webkit-scrollbar-thumb:hover {
  background: black;
  border-radius: 5px;
}

.playlistItemContainer{
  display: flex;
  box-shadow: 0 0 3px 0px black;
  background-color: rgba(203, 205, 206, 0.8);
  color:black;
  border-radius: 5px;
  margin: 3px 10px 5px 10px;
  cursor: pointer;
  user-select: none;
}

.playlistItemContainer:hover{
  color: #7F4B35 !important;
}

.playlistItemContainer div{
  margin:10px;
}

.playlistItemContainer .duration{
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  pointer-events: none;
}

.playlistItemContainer .info{
  padding-top: 2px;
  padding-bottom: 5px;
  font-size: 22px;
  pointer-events: none;
  width: 80%;
}

.playlistItemContainer .play{
  padding: 5px 0px 5px 0px;
}

.playlistItemContainer .actions{
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.playlistItemContainer.active{
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 3px 0px black ;
  color: #7F4B35 !important;
}

svg.delete,
svg.add{
  width: 30px !important;
  height: 30px !important;
  margin-top: 5px;
}

svg.delete{
  color:red;
}

svg.delete:hover{
  filter: drop-shadow(0px 0px 1px red);
}

svg.add{
  color:rgb(12, 184, 12);
}

svg.add:hover{
  filter: drop-shadow(0px 0px 1px rgb(12, 184, 12));
}
/* ----------------------------------------------------- */




/*--------------------*/
/* REGISTRATION  PAGE */
/* ------------------ */
.registration {
  padding-top: 60px;
}

.already-registered{
  font-size: 20px !important;
}
/* ----------------------------------------------------- */




/* ----- */
/* HOME  */
/* ----- */
.indexTitle {
  display: flex;
  margin: 100px auto 0 auto;
  width:fit-content;
  color:RGB(191, 185, 161);
  animation: fadeIn 3s;
  font-size: 70px;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 1px 1px 1px black;
}

.descP{
  display: flex;
  margin: 30px auto 0 auto;
  width:fit-content;
  color: white;
  font-size: 24px;
  align-items: center;
  animation: fadeIn 1s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.linksContainer{
  position: fixed;
  top:50px;
  left: 20px;
  width:fit-content;
  display: flex;
  flex-direction: column;
  align-items: left !important;
  height: 30vh;
  justify-content: space-around;
}

.linksContainer.delay2{
  animation: fadeIn 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 1s;

}

.linksContainer a{
  font-size: 24px;
  text-decoration: none !important;
  margin: 0 10px 0 10px !important;
  color:#c5c2c2 !important;
}

.linksContainer a.active{
  color:white !important;
}

.linksContainer a:hover{
  color:white !important;
}

.container.homeContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px black;
  background-color: rgba(127,75,53, 0.9);
  width: 65% !important;
  min-width: 600px;
  height: fit-content;
  padding: 30px 40px;
  margin-top: 100px;
  color:white;
  font-size: 20px;
}

.container.homeContainer a{
  color: white !important;
}

.beatingLogo {
  width: 150px;
  height: 73px;
  display: flex;
  margin: 100px auto auto auto;
  position:relative;
  background-color:#2F528F;
  border-radius: 20px;
  animation-fill-mode: forwards;
}

.beatingLogoBrain{
  position: absolute;
  width: 250px;
  left:-40px;
  top:-48px;
  height: auto;
  z-index: -1;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px black;
}

.beatIn {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2F528F;
  top: 0;
  right: 0;
  animation: beatInAnimation  3s linear infinite;
}

.beatOut {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  animation: beatOutAnimation 3s linear infinite;
  background: #2F528F;
}

@keyframes beatInAnimation {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes beatOutAnimation {
  0% {
    width: 0%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* ----------------------------------------------------- */




@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}