/* General Updated */
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  /* overflow-y: scroll; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #191c24;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

h1 {
  font-size: 30px;
}

a:hover {
  cursor: pointer;
}

.headercontainer {
  width: 100%;
  margin: 0 auto;
}

/* Topnav */
.topnav {
  top: 0;
  position: fixed;
  background-color: #124568;
  z-index: 99999;
  font-weight: 500;
  width: 100%;
  padding: 0 10px;
  height: fit-content;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header ul li a {
  /* position: relative; */
  overflow-wrap: break-word;
  padding: 10px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  color: #124568;
}

@media (min-width: 575px) {
  .header ul li a {
    max-width: 80%;
    font-size: 14pt;
  }
}

h1 {
  font-size: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header i {
  padding: 0 20px;
  font-size: 30px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul li {
  list-style: none;
  font-size: 22px;
  padding: 0 15px;
  color: #fff;
}

nav ul li:hover {
  text-decoration: underline;
  transition: all 0.3s;
}

.topnav h1 {
  float: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.topnav h1 a {
  text-decoration: none;
  color: white;
}

.topnav li a,
li a:visited {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

/* Icons */

.fa-bars {
  padding: 0 10px 0 10px;
  font-size: 30px;
  cursor: pointer;
}

.fa-circle-user {
  padding: 0 5px 0 10px;
  color: white;
}

/* Form */
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-field {
  margin-bottom: 10px;
}

form input {
  padding: 10px 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

form label {
  display: flex-start;
  font-size: 20px;
  font-weight: 500;
}

form input[type="file"],
form input[type="text"],
form input[type="password"],
form input[type="email"] {
  outline: none;
}

form input[type="file"]:focus,
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus {
  border: 1px solid rgb(0, 170, 255);
  box-shadow: 0 0 5px rgb(0, 170, 255);
}

::placeholder {
  color: rgba(0, 0, 0, 0.488);
  opacity: 1;
}
