{% extends "base.html" %}
{% block title %}
Register
{% endblock %}

{% load static %}
{%block content %}


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />

<body>
  <section class='registration'>
    <div class="container">
      <h2>Register</h2>
      <form method="post" class="form-group">
        {% csrf_token %}
        <div class="form-field">
          {{form.firstname}}
        </div>
        <div class="form-field">
          {{form.lastname}}
        </div>
        <div class="form-field">
          {{form.username}}
        </div>
        <div class="form-field">
          {{form.password1}}
        </div>
        <div class="form-field">
          {{form.password2}}
        </div>
        <button type="submit" class="btn btn-success">Create an account</button>
      </form>
      <p class="already-registered">
        Already Have An account? <a href="/login">Log In</a>
      </p>
    </div>

  </section>
</body>


{% endblock content %}