{% extends "base.html" %}

{% block title %} Background {% endblock %}

{% load static %}

{% block content %}

<div class="linksContainer">
    {% include 'home/homeLinks.html' %}
</div>
<center>
    <div class="container  homeContainer">
        <h1>Background</h1>
        <p id="nav-2" class="nav-p">
            Audio and audio therapies have been used for thousands of years to provide relaxation, distraction, and simply
            entertainment. This application is designed to provide a variety of audio types that have been
            traditionally used to support mental health wellness, as well as human stories and
            user-generated content. These files fall into the following categories...
        </p>
    </div>

    <div class="container  homeContainer">
        <h1>Categories</h1>
        <p id="nav-2" class="nav-p">
            Nature Sounds -- These are ambient sounds generally collected from outdoor locations, and include
            sounds such as ocean waves and rain.
            <br>
            <br>
            Meditation Sounds -- These sounds are man-made sounds from ancient instruments or modern synthesizers that
            are commonly used to help promote the practice of mediation or relaxation.
            <br>
            <br>
            Guided Meditation -- These audio recordings are spoken word meditations that provide instructions and
            imagery to help guide the listener to relax, de-stress, or fall asleep.
            <br>
            <br>
            Breathing Exercises -- As a tool for relaxing the autonomic nervous system (attenuating sympathetic
            activation and stimulating parasympathetic activation), a few pace breathing exercises are provided.
            <br>
            <br>
            Stories -- In order to provide different perspectives and support a sense of community, user-generated
            stories are also provided. Contributed stories should be positive, hopeful, or provide some humor.
            <br>
            <br>
            Binural Beats -- Brain stimulting frequencies that have been linked to relaxation, positivity, decreased anxiety,
            increased concentration and alertness, problem solving, and improved memory.
            <br>
            <br>
            Indian Ragas -- Unique and central feature of the classical Indian music tradition with no direct translation to concepts in western music
            <br>
            <br>
            Vocal Chanting -- Repeditive, repeated mantras thought to direct and increase attention.
        </p>
    </div>
</center>


{% endblock content %}