{% extends "base.html" %}

{% block title %} Chatbot {% endblock %}

{% load static %}

{% block content %}
<center>
    <div class="container  homeContainer">
        <h1>Coming Soon</h1>
        <p>
            Our group has built a chatbot which you will be able to talk to while using ThoughtLine.org. 
            The Chatbot is trained to infer mood, and it will be able to recommend files to you
            based on how you are doing. Stay tuned for this exciting release!
        </p>

    </div>
</center>

{% endblock content %}