{% extends "base.html" %}

{% block title %} Disclaimer {% endblock %}

{% load static %}

{% block content %}
<div class="linksContainer">
    {% include 'home/homeLinks.html' %}
</div>
<center>
    <div class="container  homeContainer">
        <h1>Disclaimer</h1>
        <p>
            The context of this web site is intended to promote mental health wellness, not to diagnose or treat mental illness.  
            If you are seeking mental health care, please see your local resources at your school  or see a private professional.  
            While sound files can be a helpful component of any treatment, you should consult with your doctor or therapist.
        </p>

    </div>
</center>

{% endblock content %}