{% extends "base.html" %}

{% block title %} Thoughtline.org {% endblock title %}

{% load static %}

{% block content %}

<div style="display: flex; flex-direction: column; height: 100vh;">
    <h1 class="indexTitle">Welcome to ThoughtLine.org</h1>
    <p class="descP">Relaxing the MIT Community with Soothing Audio Files</p>
    <div class="linksContainer delay2">
        {% include 'home/homeLinks.html' %}
    </div>
    <div class="beatingLogo">
        <img class="beatingLogoBrain" src="{% static 'img/logoNoHeart.png' %}">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150px" height="73px" viewBox="0 0 150 73" enable-background="new 0 0 150 73" xml:space="preserve">
          <polyline fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486"
          />
        </svg>
        <div class="beatIn"></div>
        <div class="beatOut"></div>
    </div>
</div>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" /> -->
<!-- 
<body>
    <section>
        <div class="categories">
            <div class="card-container">
                <div class="card border-nature mb-3">
                    <div class="card-header">Nature</div>
                    <div class="card-body text-nature">
                        <h5 class="card-title">Nature Sounds</h5>
                        <p class="card-text">These are ambient sounds generally collected from outdoor locations, and
                            includes such sounds as ocean waves and rain.</p>
                        {% if user.is_authenticated %}
                        <a href="#" class="btn btn-primary btn-nature">Listen</a>
                        {%else%}
                        <a href="/login" class="btn btn-primary btn-nature">Listen</a>
                        {% endif %}
                    </div>
                </div>
                <div class="card border-meditation mb-3">
                    <div class="card-header">Mindfulness</div>
                    <div class="card-body text-meditation">
                        <h5 class="card-title">Meditation Sounds</h5>
                        <p class="card-text">These sounds are man-made sounds from ancient instruments or modern
                            synthesizers that are commonly used to help promote the practice of mediation or relaxation.
                        </p>
                        {% if user.is_authenticated %}
                        <a href="#" class="btn btn-primary btn-meditation">Listen</a>
                        {%else%}
                        <a href="/login" class="btn btn-primary btn-meditation">Listen</a>
                        {% endif %}

                    </div>
                </div>
                <div class="card border-guidedmeditation mb-3">
                    <div class="card-header">Mindfulness</div>
                    <div class="card-body text-guidedmeditation">
                        <h5 class="card-title">Guided Meditation</h5>
                        <p class="card-text">These audio recordings are spoken word meditations that provide
                            instructions and imagery to help guide the listener to relax, de-stress, or fall asleep.</p>
                        {% if user.is_authenticated %}
                        <a href="#" class="btn btn-primary btn-guidedmeditation">Listen</a>
                        {%else%}
                        <a href="/login" class="btn btn-primary btn-guidedmeditation">Listen</a>
                        {% endif %}
                    </div>
                </div>
                <div class="card border-breathing mb-3">
                    <div class="card-header">Body & Mind</div>
                    <div class="card-body text-breathing">
                        <h5 class="card-title">Breathing Exercises</h5>
                        <p class="card-text">As a tool for relaxing the autonomic nervous system (attenuating
                            sympathetic activation and stimulating parasympathetic activation), a few pace breathing
                            exercises are provided.</p>
                        {% if user.is_authenticated %}
                        <a href="#" class="btn btn-primary btn-breathing">Listen</a>
                        {%else%}
                        <a href="/login" class="btn btn-primary btn-breathing">Listen</a>
                        {% endif %}
                    </div>
                </div>
                <div class="card border-stories mb-3">
                    <div class="card-header">Creativity</div>
                    <div class="card-body text-stories">
                        <h5 class="card-title">Stories</h5>
                        <p class="card-text">In order to provide different perspectives and support a sense of
                            community, user-generated stories are also provided. Contributed stories should be positive,
                            hopeful, or provide some humor.</p>
                        {% if user.is_authenticated %}
                        <a href="#" class="btn btn-primary btn-stories">Listen</a>
                        {%else%}
                        <a href="/login" class="btn btn-primary btn-stories">Listen</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

    </section>


</body> -->
{% endblock content %}